*{
    user-select: none;/*property determine whether user can select text */
    -ms-user-select: none; 
    outline: 0;
    margin: 0;
    padding: 0;
    --webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    font-family: 'Kanit', sans-serif;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

canvas{
    width: 100%;
    height: 100%;
}

i.fas{
    cursor: pointer;
    position: absolute;
    padding: 3px;
    left: 3%;
    top: 3%;
    background-color: transparent;
    transition: ease-out .25s;
    border-radius: 10%;
}

i.fas:hover{
    color :rgba(146, 212, 126, 0.87);
}
i.fas.hidden{
    transition: ease-in 0.7s;
    left: -100%;
}

.controlMenu{
    width: 25em;
    height: 17em;
    background-color: rgba(135, 207, 235, 0.2);
    border-radius: 10%;
    position: absolute;
    top: 2%;
    left: -100%;
    transition: ease-in .7s;
}
.controlMenu.show{
    left: 0%;
    transition: ease-in .7s;
}

i.fa-times{
    position: absolute;
    right: 3%;
}

.waveNum h3{
    font-size: 1.5em;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}
.slider{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: rgba(146, 212, 126, 0.1);
    outline: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.sliderTag{
    position: absolute;
    top: 30%;
    right: 7%;
}
.sliderTag p{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
}
